@tailwind base;
@tailwind components;
@tailwind utilities;

div > a.active{
    color: #D24545;
    font-size: 20px;
    font-weight: 700;
    margin: 0 8px;
    padding: 0px 0px 8px 0px;
    border-bottom: 3px solid #D24545;
  }